.product-info {
  margin-top: -35px;
  height: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2px;
  margin-left: auto;
  @include media-breakpoint-up(md) {
    margin-left: -65px;
    padding: 2rem 0 2rem 2rem;
    transform: translateY(50%);
  }
}


