.banner {
  position: relative;
  height: 100vh;
  &-img {
    @include banner("../../assets/images/index-1.jpg", 100vh);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: -77px;
  }
  &-body {
    height: 100vh;
    .btn-size {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 160px;
      }
    }
  }
}
.slogan {
  @include banner("../../assets/images/index-5.jpg", 400px);
}
.subtitle {
  margin-bottom: 107px;
}
.jumbotron {
  @include banner("../../assets/images/footer.jpg", 400px);
}
