.banner {
  position: relative;
  height: 100vh;
  &-img {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("../../assets/images/index-1.jpg");
    margin-top: -77px;
  }
  &-body {
    height: 100vh;
  }
}
.slogan {
  background-image: url("../../assets/images/index-5.jpg");
  height: 400px;
}
.subtitle {
  margin-bottom: 107px;
}
.btn-size {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 160px;
  }
}

@media (min-width: 768px) {
  .text-md-dark {
    color: #333 !important;
  }
}
.navbar {
  z-index: 3 !important;
}
@media screen and (max-width: 768px) {
  .navbar-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 16px 15px;
    .nav-link {
      border-bottom: 1px solid #00000062;
    }
    .dropdown-item {
      padding-left: 0;
    }
  }
}
