.w-md-75{
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .text-md-dark {
    color: #333 !important;
  }
  .text-md-white{
    color: white !important;
  }
  .border-md-solid{
    border: 1px solid #dee2e6 !important;
  }
}
.input-text {
  border: 0;
  text-align: center;
  width: 30px;
  &:focus {
    outline: 0;
  }
}