.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translate3d(0%, 0, 0);
  @include media-breakpoint-up(sm) {
    width: 540px;
    margin: auto;
  }
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
