.navbar{
  z-index: 3;
}
.navbar-brand{
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .navbar-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 16px 15px;
    .nav-link {
      border-bottom: 1px solid #00000062;
    }
    .dropdown-item {
      padding-left: 0;
    }
  }
}
//product 頁面
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }
}
.nav-underline {
  .nav-link {
    color: $secondary;
    font-size: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
    &.active {
      color: $primary;
      font-weight: $font-weight-bolder;
    }
  }
}

